/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Regular.ttf");
}

* {
    font-family: "Ubuntu";
}

:root {
    --default-color: #688f7d;
    --default-color-alpha: #688f7d41;
}

.rounded {
    border-radius: 10px;
}

.text-default {
    color: var(--default-color);
}

.cursor-pointer {
    cursor: pointer;
}

.desktop-only-flex {
    display: none;
}

@media (min-width: 772px) {
    .desktop-only-flex {
        display: flex;
    }
}

.title-section {
    color: var(--default-color);
    border-bottom: 1px solid var(--default-color);
}

main {
    min-height: 100vh;
}

.title {
    font-size: 3.5rem;
}
.subtitle {
    font-size: 2.5rem;
}

.img-size {
    max-height: 70vh;
    max-width: 100%;
}

.img-landing-size {
    max-height: 70vh;
    max-width: 70vw;
}

nav {
    background-color: rgba(114, 150, 136, 0.9);
}

.container {
    margin-top: 10vh;
}

.nav-item {
    font-weight: bold;
    color: black;
}

.p-large {
    font-size: large;
}

.row-max-height {
    max-height: 80vh;
}

.bg-title {
    background-color: var(--default-color-alpha);
    border-radius: 15px;
    width: fit-content;
    padding: 30px;
    margin: auto;
}
