/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Regular.ttf");
}

* {
    font-family: "Ubuntu";
}

:root {
    --default-color: #688f7d;
    --default-color-alpha: #688f7d41;
}

.rounded {
    border-radius: 10px;
}

.text-default {
    color: var(--default-color);
}

.cursor-pointer {
    cursor: pointer;
}

.desktop-only-flex {
    display: none;
}

@media (min-width: 772px) {
    .desktop-only-flex {
        display: flex;
    }
}
