<h1 class="title-section">Atendimento</h1>
<div class="row mt-4 p-large">
    <div class="col-md-4">
        <img
            class="rounded img-size"
            src="assets/images/atendimento_1.jpg"
        />
    </div>
    <div class="col-md-8 align-self-center mt-4 mt-md-0">
        <p>
            O
            <b class="text-default"
                >Consultório Gabriel Rocha Fisioterapia</b
            >
            atende pacientes na modalidade de fisioterapia geral e
            também com atendimento
            <b class="text-default">especializado em idosos</b>.
        </p>
        <p>
            Todos os atendimentos são realizados de forma individual, no
            período de 50 minutos a 1 hora.
        </p>
        <p>
            Marque já seu atendimento pelo whatsapp
            <b class="text-default">(41) 99641-9951.</b>
        </p>
    </div>
</div>